-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u721293045_sam
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `business_visits`
--

DROP TABLE IF EXISTS `business_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `business_visits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `profile_photo_path` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT NULL,
  `arrival_place` varchar(100) DEFAULT NULL,
  `service_number` varchar(100) DEFAULT NULL,
  `service_desc` text DEFAULT NULL,
  `approval_date` date DEFAULT NULL,
  `approval_time` time DEFAULT NULL,
  `attachments` int(11) DEFAULT 0,
  `record_number` varchar(100) DEFAULT NULL,
  `issuance_number` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `issuing_authority` varchar(255) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر-╪د┘┘è',
  `hijri_date` varchar(20) DEFAULT NULL,
  `valid_from` date DEFAULT NULL,
  `valid_to` date DEFAULT NULL,
  `visa_no` varchar(100) DEFAULT NULL,
  `issue_date` date DEFAULT NULL,
  `valid_until` date DEFAULT NULL,
  `duration_of_stay` varchar(100) DEFAULT NULL,
  `visa_type` varchar(100) DEFAULT NULL,
  `entry_type` varchar(100) DEFAULT NULL,
  `visa_residence_no` varchar(100) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `business_visits`
--

LOCK TABLES `business_visits` WRITE;
/*!40000 ALTER TABLE `business_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `business_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `country_id` int(11) NOT NULL COMMENT '┘à╪╣╪▒┘ ╪د┘╪»┘ê┘╪ر ╪د┘╪ز┘è ╪ز┘╪ز┘à┘è ╪ح┘┘è┘ç╪د ╪د┘┘à╪»┘è┘╪ر (┘è╪▒╪ز╪ذ╪╖ ╪ذ╪ش╪»┘ê┘ ╪د┘╪»┘ê┘)',
  `name` varchar(255) NOT NULL COMMENT '╪د╪│┘à ╪د┘┘à╪»┘è┘╪ر ╪ذ╪د┘┘╪║╪ر ╪د┘╪╣╪▒╪ذ┘è╪ر',
  PRIMARY KEY (`id`),
  UNIQUE KEY `country_city_unique` (`country_id`,`name`),
  CONSTRAINT `cities_ibfk_1` FOREIGN KEY (`country_id`) REFERENCES `countries` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='╪ش╪»┘ê┘ ╪د┘┘à╪»┘ ╪د┘┘à╪▒╪ز╪ذ╪╖╪ر ╪ذ╪د┘╪»┘ê┘';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `civil_affairs_requests`
--

DROP TABLE IF EXISTS `civil_affairs_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `civil_affairs_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `transaction_number` varchar(50) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT NULL,
  `issue_date` date DEFAULT NULL,
  `issuing_authority` varchar(100) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر - ╪د┘╪ث╪ص┘ê╪د┘ ╪د┘┘à╪»┘┘è╪ر',
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `profile_photo_path` varchar(255) DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `civil_affairs_requests`
--

LOCK TABLES `civil_affairs_requests` WRITE;
/*!40000 ALTER TABLE `civil_affairs_requests` DISABLE KEYS */;
INSERT INTO `civil_affairs_requests` VALUES (5,'9128670385','19001283003','jsdfh h h h','76867576576','0568657865','785765876','╪ش╪▓╪▒ ╪ث┘ê┘╪د┘╪»','1447-10-08','┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر - ╪د┘╪ث╪ص┘ê╪د┘ ╪د┘┘à╪»┘┘è╪ر','┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',0,1,NULL,'2026-03-25 19:57:17','2026-03-26 22:27:08',0,'uploads/profile_5_1774468659.png',NULL);
/*!40000 ALTER TABLE `civil_affairs_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `countries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL COMMENT '╪د╪│┘à ╪د┘╪»┘ê┘╪ر ╪ث┘ê ╪د┘╪ش┘╪│┘è╪ر ╪ذ╪د┘┘╪║╪ر ╪د┘╪╣╪▒╪ذ┘è╪ر',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=206 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='╪ش╪»┘ê┘ ╪د┘╪»┘ê┘ ┘ê╪د┘╪ش┘╪│┘è╪د╪ز ╪د┘┘à╪╣╪ز┘à╪»╪ر ┘┘è ╪د┘┘╪╕╪د┘à';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `family_visits`
--

DROP TABLE IF EXISTS `family_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `family_visits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `phone` varchar(20) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT NULL,
  `arrival_place` varchar(100) DEFAULT NULL,
  `service_number` varchar(100) DEFAULT NULL,
  `service_desc` text DEFAULT NULL,
  `approval_date` date DEFAULT NULL,
  `approval_time` time DEFAULT NULL,
  `attachments` int(11) DEFAULT 0,
  `record_number` varchar(100) DEFAULT NULL,
  `issuance_number` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `issuing_authority` varchar(255) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر-╪د┘┘è',
  `hijri_date` varchar(20) DEFAULT NULL,
  `sponsor_name` varchar(255) DEFAULT NULL,
  `sponsor_id` varchar(20) DEFAULT NULL,
  `emirate` varchar(100) DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `family_visits`
--

LOCK TABLES `family_visits` WRITE;
/*!40000 ALTER TABLE `family_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `family_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `followup_requests`
--

DROP TABLE IF EXISTS `followup_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `followup_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `sponsor_id` varchar(20) DEFAULT NULL,
  `source_number` varchar(50) DEFAULT NULL,
  `source_entity` varchar(100) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪╣┘à┘-╪ت┘┘è',
  `hijri_date` varchar(20) DEFAULT NULL,
  `last_modified_date` varchar(20) DEFAULT NULL,
  `sponsor_name` varchar(100) DEFAULT NULL,
  `establishment_name` varchar(200) DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `followup_requests`
--

LOCK TABLES `followup_requests` WRITE;
/*!40000 ALTER TABLE `followup_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `followup_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `labor_inquiry`
--

DROP TABLE IF EXISTS `labor_inquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `labor_inquiry` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `applicant_name` varchar(255) NOT NULL COMMENT '╪د╪│┘à ┘à┘é╪»┘à ╪د┘╪╖┘╪ذ',
  `national_id` varchar(20) NOT NULL COMMENT '╪▒┘é┘à ╪د┘┘ç┘ê┘è╪ر',
  `export_number` varchar(20) NOT NULL COMMENT '╪▒┘é┘à ╪د┘╪╡╪د╪»╪▒',
  `service_name` varchar(100) DEFAULT '╪╣┘à╪د┘╪ر' COMMENT '┘┘ê╪╣ ╪د┘╪«╪»┘à╪ر',
  `status` varchar(50) DEFAULT '┘à┘â╪ز┘à┘' COMMENT '╪ص╪د┘╪ر ╪د┘╪╖┘╪ذ',
  `created_at` datetime DEFAULT current_timestamp(),
  `job_category` varchar(100) DEFAULT '╪║┘è╪▒ ┘à╪ص╪»╪»',
  `nationality` varchar(100) DEFAULT '╪║┘è╪▒ ┘à╪ص╪»╪»',
  `arrival_place` varchar(255) DEFAULT '╪║┘è╪▒ ┘à╪ص╪»╪»',
  `serial_number` varchar(50) DEFAULT '---',
  `wife_name` varchar(255) DEFAULT '---',
  `remarks` text DEFAULT '┘╪د ┘è┘ê╪ش╪»',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_national_export` (`national_id`,`export_number`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `labor_inquiry`
--

LOCK TABLES `labor_inquiry` WRITE;
/*!40000 ALTER TABLE `labor_inquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `labor_inquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `labor_requests`
--

DROP TABLE IF EXISTS `labor_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `labor_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `emirate` varchar(100) DEFAULT NULL,
  `hijri_date` varchar(50) DEFAULT NULL,
  `issuance_number` varchar(100) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `establishment_name` varchar(255) DEFAULT NULL,
  `owner_name` varchar(255) DEFAULT NULL,
  `record_number` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `labor_requests`
--

LOCK TABLES `labor_requests` WRITE;
/*!40000 ALTER TABLE `labor_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `labor_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marriage_permits`
--

DROP TABLE IF EXISTS `marriage_permits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marriage_permits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `permit_type` varchar(255) DEFAULT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `phone` varchar(20) DEFAULT NULL,
  `service_number` varchar(100) DEFAULT NULL,
  `emirate` varchar(100) DEFAULT NULL,
  `approval_date` varchar(50) DEFAULT NULL,
  `record_number` varchar(100) DEFAULT NULL,
  `issuance_number` varchar(100) DEFAULT NULL,
  `issuing_authority` varchar(255) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر-╪د┘┘è',
  `bank_file_number` int(11) DEFAULT 0,
  `service_desc` text DEFAULT NULL,
  `submission_date` varchar(50) DEFAULT NULL,
  `area` varchar(100) DEFAULT NULL,
  `area_code` varchar(50) DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marriage_permits`
--

LOCK TABLES `marriage_permits` WRITE;
/*!40000 ALTER TABLE `marriage_permits` DISABLE KEYS */;
/*!40000 ALTER TABLE `marriage_permits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profession_changes`
--

DROP TABLE IF EXISTS `profession_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profession_changes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `sponsor_name` varchar(255) DEFAULT NULL,
  `establishment_name` varchar(255) DEFAULT NULL,
  `sponsor_id` varchar(255) DEFAULT NULL,
  `service_number` varchar(255) DEFAULT NULL,
  `service_desc` text DEFAULT NULL,
  `hijri_date` varchar(255) DEFAULT NULL,
  `emirate` varchar(255) DEFAULT NULL,
  `approval_date` varchar(255) DEFAULT NULL,
  `approval_time` varchar(255) DEFAULT NULL,
  `attachments` int(11) DEFAULT 0,
  `record_number` varchar(255) DEFAULT NULL,
  `issuance_number` varchar(255) DEFAULT NULL,
  `submission_date` varchar(255) DEFAULT NULL,
  `area` varchar(255) DEFAULT NULL,
  `area_code` varchar(255) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `issuing_authority` varchar(255) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪╣┘à┘-╪د┘┘è',
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profession_changes`
--

LOCK TABLES `profession_changes` WRITE;
/*!40000 ALTER TABLE `profession_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `profession_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `query_logs`
--

DROP TABLE IF EXISTS `query_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `query_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `national_id` varchar(20) DEFAULT NULL,
  `export_number` varchar(20) DEFAULT NULL,
  `service_type` varchar(50) DEFAULT NULL,
  `action` enum('query','print') NOT NULL,
  `user_ip` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `query_logs`
--

LOCK TABLES `query_logs` WRITE;
/*!40000 ALTER TABLE `query_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `query_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recruitment_requests`
--

DROP TABLE IF EXISTS `recruitment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recruitment_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `phone` varchar(20) DEFAULT NULL,
  `emirate` varchar(100) DEFAULT NULL,
  `hijri_date` varchar(20) DEFAULT NULL,
  `issuing_authority` varchar(100) DEFAULT '┘à┘â╪ز╪ذ ╪د┘╪د╪│╪ز┘é╪»╪د┘à - ╪ت┘┘è',
  `issuance_number` varchar(50) DEFAULT NULL,
  `approval_date` varchar(20) DEFAULT NULL,
  `sponsor_name` varchar(100) DEFAULT NULL,
  `establishment_name` varchar(200) DEFAULT NULL,
  `sponsor_id` varchar(20) DEFAULT NULL,
  `service_number` varchar(20) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recruitment_requests`
--

LOCK TABLES `recruitment_requests` WRITE;
/*!40000 ALTER TABLE `recruitment_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `recruitment_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `related_data`
--

DROP TABLE IF EXISTS `related_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `related_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) DEFAULT NULL,
  `passport_number` varchar(50) DEFAULT NULL,
  `relationship` varchar(100) DEFAULT NULL,
  `age` varchar(50) DEFAULT NULL,
  `job_category` varchar(100) NOT NULL,
  `nationality` varchar(100) NOT NULL,
  `country` varchar(100) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `marriage_permit_id` int(11) DEFAULT NULL,
  `family_visit_id` int(11) DEFAULT NULL,
  `recruitment_request_id` int(11) DEFAULT NULL,
  `business_visit_id` int(11) DEFAULT NULL,
  `civil_affairs_request_id` int(11) DEFAULT NULL,
  `labor_request_id` int(11) DEFAULT NULL,
  `profession_change_id` int(11) DEFAULT NULL,
  `tourism_visit_id` int(11) DEFAULT NULL,
  `followup_request_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `duration_of_stay` varchar(100) DEFAULT NULL,
  `duration` varchar(100) DEFAULT NULL,
  `visa_type` varchar(100) DEFAULT NULL,
  `entry_type` varchar(100) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `visa_no` varchar(100) DEFAULT NULL,
  `issue_date` date DEFAULT NULL,
  `valid_until` date DEFAULT NULL,
  `iqama_issue_date` date DEFAULT NULL,
  `iqama_expiry_date` date DEFAULT NULL,
  `old_profession` varchar(100) DEFAULT NULL,
  `bank_file_number` varchar(100) DEFAULT NULL,
  `bank_send_date` varchar(100) DEFAULT NULL,
  `approval_type` varchar(100) DEFAULT NULL,
  `appointment_date` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `permit_type` varchar(255) DEFAULT NULL,
  `profile_photo_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `related_data`
--

LOCK TABLES `related_data` WRITE;
/*!40000 ALTER TABLE `related_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `related_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `runaway_cancellations`
--

DROP TABLE IF EXISTS `runaway_cancellations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `runaway_cancellations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL COMMENT '╪د┘╪▒┘é┘à ╪د┘╪ز╪│┘╪│┘┘è ╪د┘╪╣╪┤┘ê╪د╪خ┘è ╪د┘┘╪▒┘è╪» ┘┘╪╖┘╪ذ',
  `export_number` varchar(10) DEFAULT NULL COMMENT '╪▒┘é┘à ╪د┘╪╡╪د╪»╪▒ ┘┘╪╖┘╪ذ ╪د┘┘à╪╣╪ز┘à╪»',
  `applicant_name` varchar(255) NOT NULL COMMENT '╪د╪│┘à ┘à┘é╪»┘à ╪د┘╪╖┘╪ذ (╪د┘╪╣╪د┘à┘) ╪د┘╪▒╪ذ╪د╪╣┘è ┘â┘à╪د ┘┘è ╪د┘┘ç┘ê┘è╪ر',
  `national_id` varchar(20) NOT NULL COMMENT '╪▒┘é┘à ┘ç┘ê┘è╪ر ┘à┘é╪»┘à ╪د┘╪╖┘╪ذ (┘ç┘ê┘è╪ر ┘ê╪╖┘┘è╪ر ╪ث┘ê ╪▒┘é┘à ╪ح┘é╪د┘à╪ر)',
  `phone` varchar(20) DEFAULT NULL COMMENT '╪▒┘é┘à ╪ش┘ê╪د┘ ┘à┘é╪»┘à ╪د┘╪╖┘╪ذ ╪د┘┘╪┤╪╖',
  `sponsor_name` varchar(255) DEFAULT NULL COMMENT '╪د╪│┘à ╪د┘┘â┘┘è┘ ╪د┘╪ص╪د┘┘è ╪ث┘ê ╪د┘┘à┘╪┤╪ث╪ر ╪د┘╪ز┘è ┘é╪د┘à╪ز ╪ذ╪د┘╪ذ┘╪د╪║',
  `establishment_name` varchar(255) DEFAULT NULL COMMENT '╪د╪│┘à ╪د┘┘à┘╪┤╪ث╪ر ╪د┘┘à╪│╪ش┘ ╪╣┘┘è┘ç╪د ╪د┘╪╣╪د┘à┘',
  `sponsor_id` varchar(20) DEFAULT NULL COMMENT '╪▒┘é┘à ┘ç┘ê┘è╪ر ╪د┘┘â┘┘è┘ ╪ث┘ê ╪د┘╪▒┘é┘à ╪د┘┘à┘ê╪ص╪» ┘┘┘à┘╪┤╪ث╪ر',
  `service_number` varchar(50) DEFAULT NULL COMMENT '╪▒┘é┘à ╪د┘╪«╪»┘à╪ر ╪د┘╪ح┘┘â╪ز╪▒┘ê┘┘è╪ر ╪د┘┘à╪«╪╡╪╡╪ر (╪ح┘ ┘ê╪ش╪»)',
  `service_desc` text DEFAULT NULL COMMENT '┘ê╪╡┘ ╪ز┘╪╡┘è┘┘è ┘┘╪«╪»┘à╪ر ╪ث┘ê ┘à┘╪د╪ص╪╕╪د╪ز ╪»╪د╪«┘┘è╪ر ┘┘┘à┘ê╪╕┘',
  `hijri_date` varchar(50) DEFAULT NULL COMMENT '╪د┘╪ز╪د╪▒┘è╪« ╪د┘┘ç╪ش╪▒┘è ╪د┘╪╣╪د┘à ┘╪ز┘é╪»┘è┘à ╪╖┘╪ذ ╪د┘╪ح┘╪║╪د╪ة',
  `emirate` varchar(255) DEFAULT NULL COMMENT '┘à┘â╪ز╪ذ ╪د┘╪ش┘ê╪د╪▓╪د╪ز ╪ث┘ê ╪د┘╪ش┘ç╪ر ╪د┘╪ث┘à┘┘è╪ر ╪د┘┘à╪│╪ج┘ê┘╪ر ╪╣┘ ╪د┘╪ذ┘╪د╪║╪د╪ز',
  `approval_date` varchar(50) DEFAULT NULL COMMENT '╪ز╪د╪▒┘è╪« ╪╡╪»┘ê╪▒ ╪د┘┘à┘ê╪د┘┘é╪ر ╪╣┘┘ë ╪ح┘╪║╪د╪ة ╪ذ┘╪د╪║ ╪د┘┘ç╪▒┘ê╪ذ',
  `approval_time` time DEFAULT NULL COMMENT '┘ê┘é╪ز ╪╡╪»┘ê╪▒ ╪د┘┘à┘ê╪د┘┘é╪ر ╪╣┘┘ë ╪د┘╪ح┘╪║╪د╪ة',
  `attachments` int(11) DEFAULT 0 COMMENT '╪╣╪»╪» ╪د┘┘à╪▒┘┘é╪د╪ز ┘ê╪د┘┘ê╪س╪د╪خ┘é ╪د┘╪»╪د╪╣┘à╪ر ╪د┘┘à╪▒┘┘é╪ر ╪ذ╪د┘╪╖┘╪ذ',
  `record_number` varchar(50) DEFAULT NULL COMMENT '╪▒┘é┘à ╪د┘┘é┘è╪» ┘┘è ╪د┘╪│╪ش┘╪د╪ز ╪د┘╪«╪د╪╡╪ر ╪ذ╪ذ┘╪د╪║╪د╪ز ╪د┘┘ç╪▒┘ê╪ذ',
  `issuance_number` varchar(50) DEFAULT NULL COMMENT '╪▒┘é┘à ╪د┘╪ح╪╡╪»╪د╪▒ ╪ث┘ê ╪د┘┘à╪╣╪د┘à┘╪ر ╪د┘╪ص┘â┘ê┘à┘è╪ر ┘┘è ╪د┘╪ش┘ê╪د╪▓╪د╪ز',
  `submission_date` varchar(50) DEFAULT NULL COMMENT '╪ز╪د╪▒┘è╪« ╪ز┘é╪»┘è┘à ╪د┘╪╖┘╪ذ ╪د┘╪▒╪│┘à┘è ┘┘┘à╪▒╪د╪ش╪╣╪ر',
  `area` varchar(100) DEFAULT NULL COMMENT '╪د┘┘à┘╪╖┘é╪ر ╪ث┘ê ╪د┘┘à╪ص╪د┘╪╕╪ر ╪د┘╪ز╪د╪ذ╪╣ ┘┘ç╪د ┘à┘â╪ز╪ذ ╪د┘╪ش┘ê╪د╪▓╪د╪ز',
  `area_code` varchar(50) DEFAULT NULL COMMENT '╪▒┘à╪▓ ╪د┘┘à┘╪╖┘é╪ر ╪د┘╪ح╪ص╪╡╪د╪خ┘è ╪ث┘ê ╪د┘╪ح╪»╪د╪▒┘è',
  `remarks` text DEFAULT NULL COMMENT '┘à┘╪د╪ص╪╕╪د╪ز ╪ح╪╢╪د┘┘è╪ر ┘ê╪ز┘ê╪╡┘è╪د╪ز ╪د┘┘╪ش┘╪ر ╪د┘┘à╪«╪ز╪╡╪ر',
  `issuing_authority` varchar(255) DEFAULT NULL COMMENT '╪د┘╪ش┘ç╪ر ╪د┘╪▒╪│┘à┘è╪ر ╪د┘┘à╪╡╪»╪▒╪ر ┘┘é╪▒╪د╪▒ ╪د┘╪ح┘╪║╪د╪ة ┘ê╪د┘┘ê╪س┘è┘é╪ر',
  `status` varchar(100) DEFAULT '╪ذ╪د┘╪ز╪╕╪د╪▒ ┘à┘ê╪د┘┘é╪ر ╪د┘┘à╪»┘è╪▒' COMMENT '╪ص╪د┘╪ر ╪╖┘╪ذ ╪د┘╪ح┘╪║╪د╪ة ╪د┘╪ص╪د┘┘è╪ر ┘┘è ╪د┘┘╪╕╪د┘à',
  `created_by_user_id` int(11) DEFAULT NULL COMMENT '┘à╪╣╪▒┘ ╪د┘┘à╪│╪ز╪«╪»┘à ╪د┘╪░┘è ┘é╪د┘à ╪ذ╪ح╪»╪«╪د┘ ╪د┘╪╖┘╪ذ ┘┘┘╪╕╪د┘à',
  `rejection_reason` text DEFAULT NULL COMMENT '╪│╪ذ╪ذ ╪▒┘╪╢ ╪╖┘╪ذ ╪ح┘╪║╪د╪ة ╪ذ┘╪د╪║ ╪د┘┘ç╪▒┘ê╪ذ ┘┘è ╪ص╪د┘ ╪╣╪»┘à ╪د┘┘à┘ê╪د┘┘é╪ر',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '╪ز╪د╪▒┘è╪« ┘ê┘ê┘é╪ز ╪ز┘ê╪س┘è┘é ╪د┘╪╖┘╪ذ ┘┘è ┘é╪د╪╣╪»╪ر ╪د┘╪ذ┘è╪د┘╪د╪ز',
  `is_locked` tinyint(1) DEFAULT 0,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `serial_number` (`serial_number`),
  UNIQUE KEY `export_number` (`export_number`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='╪ش╪»┘ê┘ ╪╖┘╪ذ╪د╪ز ╪ح┘╪║╪د╪ة ╪ذ┘╪د╪║╪د╪ز ╪د┘┘ç╪▒┘ê╪ذ ┘┘╪╣┘à╪د┘╪ر ┘ê╪د┘┘ê╪د┘╪»┘è┘';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `runaway_cancellations`
--

LOCK TABLES `runaway_cancellations` WRITE;
/*!40000 ALTER TABLE `runaway_cancellations` DISABLE KEYS */;
/*!40000 ALTER TABLE `runaway_cancellations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tourism_visits`
--

DROP TABLE IF EXISTS `tourism_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tourism_visits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(11) DEFAULT NULL,
  `export_number` varchar(50) NOT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `national_id` varchar(20) NOT NULL,
  `status` varchar(50) DEFAULT '┘é┘è╪» ╪د┘┘à╪▒╪د╪ش╪╣╪ر',
  `is_locked` tinyint(1) DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `printed_count` int(11) DEFAULT 0,
  `profile_photo_path` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT NULL,
  `arrival_place` varchar(100) DEFAULT NULL,
  `service_number` varchar(100) DEFAULT NULL,
  `service_desc` text DEFAULT NULL,
  `approval_date` date DEFAULT NULL,
  `approval_time` time DEFAULT NULL,
  `attachments` int(11) DEFAULT 0,
  `record_number` varchar(100) DEFAULT NULL,
  `issuance_number` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `issuing_authority` varchar(255) DEFAULT '┘ê╪▓╪د╪▒╪ر ╪د┘╪»╪د╪«┘┘è╪ر-╪د┘┘è',
  `hijri_date` varchar(20) DEFAULT NULL,
  `valid_from` date DEFAULT NULL,
  `valid_to` date DEFAULT NULL,
  `visa_no` varchar(100) DEFAULT NULL,
  `issue_date` date DEFAULT NULL,
  `valid_until` date DEFAULT NULL,
  `duration_of_stay` varchar(100) DEFAULT NULL,
  `visa_type` varchar(100) DEFAULT NULL,
  `entry_type` varchar(100) DEFAULT NULL,
  `visa_residence_no` varchar(100) DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `locked_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `export_number` (`export_number`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tourism_visits`
--

LOCK TABLES `tourism_visits` WRITE;
/*!40000 ALTER TABLE `tourism_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `tourism_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_logs`
--

DROP TABLE IF EXISTS `user_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_logs` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(50) DEFAULT 'login',
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `system_users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_logs`
--

LOCK TABLES `user_logs` WRITE;
/*!40000 ALTER TABLE `user_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-27 16:05:19
